@import "reset";
@import "mixins";

.header{
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;

    @media only screen and (max-width: 767px) {
        padding: 21px 0;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
        position: relative;
        
        &::after{
            position: absolute;
            content: '';
            width: calc( 100% - 30px);
            left: 15px;
            top: 100%;
            border: 1px solid #BABBC5;
           
            @media only screen and (max-width: 767px) {
                display: none;
            }

        }

        @media only screen and (max-width: 767px) {
            width: 100%;
            padding: 0 20px;
        }
    }

    &__logo{
        max-width: 184px;

        @media only screen and (max-width: 1024px) {
            max-width: 181px;
            }

        @media only screen and (max-width: 767px) {
            max-width: 104px;
            }

    }

    &__menu{
        display: none;

        @media only screen and (max-width: 767px) {
            display: flex;
            justify-content: space-between;
            background: transparent;
            border: none;
        }
    }

    &__logo {
        svg{
        width: 100%;
        object-fit: contain;
        }
    }

    &__nav{
       
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }

    &__list{
        display: flex;
        
    }

    &__item{
        @include fontRaleway(#fff, 13px, 700, 15px);
        display: block;
        min-width: 134px;
        width: 100%;
        padding: 36px 5px;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        transition-delay: 0.1s;

        @media only screen and (max-width: 1024px) {
            @include fontRaleway(#fff, 12px, 700, 14px);
            min-width: 112px;
            padding: 36px 10px;
            }

        @media only screen and (min-width: 768) and (max-width: 850px) {
            min-width: max-content;            
        }

        &:hover {
            border-bottom: 3px solid #BABBC5;
        }

        &:active {
            color: #E71414;
            border-bottom: 3px solid #E71414;
        }
    }
    }

.banner{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 230px 0 120px;
    background-position: center;
    position: relative;
    margin-bottom: 116px;

        @media only screen and (max-width: 1024px) {
            padding: 257px 0 126px;
            margin-bottom: 78px;
        }

        @media only screen and (max-width: 767px) {
            padding: 106px 0 52px;
            margin-bottom: 40px;
        }

    &::after{
        position: absolute;
        content: '';
        opacity: 0.8;
        background: #252B49;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__container{
        @include container();
        position: relative;
        z-index: 1;
        
        @media only screen and (max-width: 767px) {
        }
    }

    &__title{
        @include fontRaleway(#FFF, 64px, 900, 75px);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 31px;
        
            @media only screen and (max-width: 1024px) {
                @include fontRaleway(#FFF,  48px, 900, 56px);
                margin-bottom: 62px;
            }

            @media only screen and (max-width: 768px) {
                @include fontRaleway(#FFF,  36px, 900, 42px);
            }

    }

    &__description{
        @include fontRaleway(#FFF, 24px, 400, 28px);
        text-align: center;
        margin-bottom: 79px;
        max-width: 1000px;
        margin: 0 auto 79.57px;

            @media only screen and (max-width: 1024px) {
                @include fontRaleway(#FFF, 18px, 400, 21px);
                margin-bottom: 89px;
            }

            @media only screen and (max-width: 768px) {
                @include fontRaleway(#FFF, 14px, 400, 16px);
            }
    }

    &__btn{
        display: block;
        max-width: 370px;
        width: 100%;
        padding: 26px;
        @include fontRaleway(#FFF, 24px, 900, 28px);
        text-align: center;
        text-transform: uppercase;
        background-color: #FF4343;
        border: none;
        margin: 0 auto;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        transition-delay: 0.1s;

            @media only screen and (max-width: 1024px) {
                max-width: 314px;
            }
            @media only screen and (max-width: 767px) {
                max-width: 100%;
                padding: 16px;
            }
        
        &:hover {
            background: #E71414;
        }
    
        &:active {
            background: #FF4343;
            box-shadow: 4px 4px 30px 0px #FF4343;
        }
    }
}

.features {
    &__container{
    max-width: 1170px;
    margin: 0 auto 133.57px;
    width: 100%;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 88.6px;
        @media (max-width: 1024px) {
            margin: 0 auto 80.11px;
            padding: 0 20px;
            column-gap: 20px;
            row-gap: 49.84px;
        }
        @media (max-width: 767px) {
            display: inline-block;
            margin: 0 auto 34.85px;
        }
    }

    &__wrap{
        display: grid;
        align-items: center;
        margin-bottom: 41.46px;
    }
    
    &__icon{
        max-width: 100px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 29px;
        @media (max-width: 1024px) {
            max-width: 85px;
            margin-bottom: 24.52px;
        }
        @media (max-width: 767px) {
            max-width: 75px;
            margin-bottom: 21.72px;
        }
    }

    &__title{
        @include fontRaleway(#2D3033, 24px, 900, 28px);
        padding: 22px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20.43px;
        @media (max-width: 1024px) {
            @include fontRaleway(#2D3033, 18px, 900, 21px);
            padding: 20px;
            margin-bottom: 4px;
        }
        @media (max-width: 767px) {
            margin-bottom: -8px;
        }

    }

    &__description{
        @include fontRaleway(#6C7279, 18px, 400, 21px);
        text-align: center;
        @media (max-width: 1024px) {
            @include fontRaleway(#6C7279, 14px, 400, 16px);
        }
    }
}

.works {
    &__container{
        max-width: 1170px;
        margin: 0 auto 114px;
        width: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 2px;
        row-gap: 2px;
            @media (max-width: 767px) {
                grid-template-columns: repeat(2,1fr);
            }
    
    }
    &__container-item{
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        opacity: 0;
        background: #ff4343cc;
        width: 100%;
        height: 100%;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        transition-delay: 0.1s;

            &:hover{
                opacity: 1; 
            }
            &:active{
                opacity: 1;
                background: #b90c0ccc;
            }
        
        .works__title{
            @include fontRaleway(#ffffff, 24px, 900, 28px);
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20.6px; 
        
            @media (max-width: 1024px) {
                @include fontRaleway(#ffffff, 18px, 900, 21px);
                margin-bottom: 12.81px; 
            }
        
            @media (max-width: 767px) {
                margin-bottom: 4.63px; 
            }
        }
        .works__deskription{
            @include fontRaleway(#ffffff, 18px, 400, 21px);
            text-align: center;
            @media (max-width: 1024px) {
                @include fontRaleway(#ffffff, 14px, 400, 16px);
            }
        }
    }

    &__container-image{
        position: relative;
        display: grid;
        width: 100%;
        height: 230px;
        overflow: hidden;
        align-content: center;
    }

    &__image{
        width: 100%;
        height: 100%;
    }
}